<div class="thank-you-box theme-blue-light">
  <h2><strong>Thank you</strong>, your order has been placed.</h2>

  <p>Order Confirmation: <strong>#<%= Number(order.escape("id")) + 340293 %></strong></p>

  <p>Amount charged to your account: $<%= order.escape("total_price") %></p>

  <% if (order.gig().get('creator')){ %>
    <ul>
      <li>
        <em><%= order.gig().escape("title") %></em> will be completed by 
        <a href="#users/<%= order.gig().get('creator').id %>" ><%= order.gig().get('creator').username %></a>
        in approximately 7 days.
      </li>
    </ul>      
  <% } %>
  
  <% if (order.get('gig_extras').length > 0) { %>
    <p> Extras included in your order: </p>
    <ul>
      <% _.each(order.get('gig_extras'), function(extra) {  %>
        <li>
          <%= extra.title %> for&nbsp;$<%= extra.price %>
        </li>
      <% }) %>
    </ul>
  <% } %>
      
  <% if (order.gig().escape('image_url')) { %>
    <img src="<%= order.gig().escape('image_url')%>/convert?w=600&h=400&fit=crop">
  <% } %>  
</div>  
<section class="sidebar-creator sidebar-section creator-details">
  <% if (order.gig().get("creator")) { %>
    <% var creator = order.gig().get("creator") %>
    <div class="sub-section">
      <h3 class="theme-blue-light">Seller Information</h3>
      <img src="<%= creator.image_url %>" class="small-thumb img-circle">
      <h4><a href="#users/<%= creator.id %>"><%= creator.username %></a></h4>
      <small>OmniFive Top Seller</small>
    </div>
    <div class="sub-section-description">
     <%= creator.creator_desc %>
    </div>
  <% } %>
</section>

  




