<h2><%= gig.escape("title") %></h2>

<% if (gig.get("creator")) { %>
  <h4>By: <a href="#users/<%= gig.get('creator').id %>"><%= gig.get("creator").username %></a></h4>
<% } %>
  
<img src="<%= gig.get('image_url')%>">
<div class="description"><%= gig.escape("description") %></div>
<button class="order-now"> Order Gig </button>
<div class="back-to-home"><a href="#">Back to Gigs Index</a></div>