<div class="outer-show-view-wrapper">
  <div class="gig-show-view-wrapper">

    <div class="gig-show-details">

      <div class="gig-show-detail">

        <header class="gig-show-header gig-title">
          <h1><%= gig.escape("title") %> for&nbsp;$<%= gig.escape("price")%></h1>
        </header>

        <div class="gig-show-details-body">
          <% if (gig.get('image_url')) { %>
            <img src="<%= gig.get('image_url')%>/convert?w=650&h=500&fit=crop">
          <% } %>
        </div>
      </div>

      <div class="gig-show-detail">
        <header class="gig-show-header">
          <h2>About this gig</h2>
        </header>
        <div class="gig-show-details-body">
          <%= gig.escape("description") %>
        </div>
      </div>

      <div class="main-gig-extras">

      </div>
  
      <div class="order-button-container"> 
        <button class="order-now"> Order Gig ($<span class="gig-final-price"><%= gig.escape("price") %></span>)</button>
      </div>

    </div>




    <aside class="gig-show-sidebar">
      <div class="order-button-container sidebar-section"> 
        <button class="order-now large-btn"> Order Gig ($<span class="gig-final-price"><%= gig.escape("price") %></span>)</button>
      </div>
  
      <section class="creator-details sidebar-section">
        <% if (gig.get("creator")) { %>
        
          <div class="sub-section">
            <img src="<%= gig.get('creator').image_url %>" class="small-thumb img-circle">
            <h4><a href="#users/<%= gig.get('creator').id %>"><%= gig.get("creator").username %></a></h4>
            <small>OmniFive Top Seller</small>
          </div>
        
          <div class="sub-section sub-section-description">        
             <%= gig.get('creator').creator_desc %>
          </div>
        <% } %>
      </section>
    </aside>
    
  </div>
  <div class="creator-other-gigs">
    <% if (gig.get("creator")) { %>
      <h3>Other Gigs by <a href="#users/<%= gig.get('creator').id %>"><%= gig.get("creator").username %></a></h3>
    <% } %>
    <div class="gigs-index-wrapper">
    </div>
  </div>
</div>