<!DOCTYPE html>
<html>
<head>
  <title>Gigrr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-wrapper">
    <% if flash[:errors] %>
      <%= render 'layouts/errors' %>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>
