<!DOCTYPE html>
<html>
<head>
  <title>Gigrr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-wrapper">
    
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="bg-warning error alert"><%= error %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
